:root {
  --pad: 20px 16px 24px;
  --main-bg-color: #12111a;
  --bg-color: #282730;
  /* --bg-color: #f3f3f4; */
  --white: #edecee;
  --black: #202124;
  --orange: #cd6315;
  --blue: #509afa;
  --lightblue: #eaf0fd;
}

.App {
  height: 100vh;
  width: 100vw;
}

/*
*******************
MAX WIDTH CONTAINER
*******************
*/

.max-width-container {
  max-width: 900px;
  margin: 0 auto;
}

/*
**********
NAVIGATION
**********
*/

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  padding-top: 14%;
  padding-bottom: 20px;
}

.navigation-logo {
  width: 100px;
  color: var(--white);
}

.navigation-logo:hover {
  text-decoration: underline;
}

.navigation-menu-list {
  display: flex;
  list-style: none;
  margin: 0;
}

.navigation-menu-list li {
  margin-left: 20px;
}

.navigation-menu-list li a {
  color: var(--white);
  transition: color 0.6s ease-in;
}

.navigation-menu-list li a:hover {
  text-decoration: underline;
}

/*
****
HOME
****
*/

.home {
  /* height: 100vh; */
  background: var(--main-bg-color);
}

.hero {
  margin-top: 8%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.hero-left {
  max-width: 400px;
}

.hero-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-title {
  font-size: 2.6rem;
}

.hero-subtitle {
  margin-top: 24px;
  margin-bottom: 34px;
  font-size: 1.4rem;
}

.hero-desc-section {
  display: flex;
  justify-content: space-between;
}

.hero-desc {
  font-size: 0.9rem;
}

#hero-link {
  color: var(--white);
}

#hero-link:hover {
  text-decoration: underline;
}

/*
*********
NAMEINPUT
*********
*/

.oj {
  color: var(--orange);
}

.underline {
  text-decoration: underline;
}

.name-input {
  height: 100%;
  width: 300px;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: var(--pad);
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  background: var(--bg-color);
}

.name-input-title {
  margin-bottom: 30px;
  font-size: 1.6rem;
  color: var(--white);
}

.input {
  color: var(--black);
  text-align: center;
  width: 100%;
  height: 48px;
  font-size: 1.2rem;
  margin: 0;
  padding: 0 0 0;
  border-radius: 5px;
  border: 2px solid #ffffff;
  margin-bottom: 30px;
}

.input:focus {
  outline: none;
  border: 2px solid #eaf0fd;
}

.input:hover {
  border: 2px solid #eaf0fd;
  cursor: pointer;
}

/*
******
TRIVIA
******
*/

.trivia {
  display: flex;
  padding-top: calc(20px + 14%);
}

/*
****
CARD
****
*/

.card {
  width: 70%;
  /* background: var(--bg-color); */
  border-radius: 0 4px 4px 0;
  padding: 12px 16px 10px;
  border-radius: 2px;
}

.multiple-choice-section {
  display: flex;
  flex-wrap: wrap;
}

/*
********
QUESTION
********
*/

.question {
  font-size: 1rem;
}

/*
*****
MODAL
*****
*/

.modal {
}

.modal-overlay {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.modal-content {
  position: fixed;
  z-index: 1010;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 300px;
  max-width: 100%;
  height: 200px;
  max-height: 100%;
  padding: var(--pad);
  border: 1px solid red;

  display: flex;
  justify-content: center;

  background: var(--bg-color);
}

/*
********
USERCARD
********
*/

.usercard {
  width: 50%;
  border-radius: 4px 0 0 4px;
  background: #fff;
  color: var(--black);
  padding: var(--pad);
  height: 300px;
  font-size: 1rem;
}
/*
  ******
  BUTTON
  ******
  */

.button {
  height: 48px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--lightblue);
  background: var(--lightblue);
  /* min-width: 200px; */
  width: 100%;
  color: var(--blue);
  font-size: 1.2rem;
  transition: background 0.4s ease-in, border 0.4s ease-in, color 0.2s ease-in;
}

.button:hover {
  cursor: pointer;
  background: var(--blue);
  border-color: var(--blue);
  color: var(--white);
  box-shadow: 0px 3px 3px rgba(80, 154, 250, 0.3);
}
