.App {
  height: 100vh;
  width: 100vw;
}

/*
*******************
MAX WIDTH CONTAINER
*******************
*/

.max-width-container {
  max-width: 1100px;
  margin: 0 auto;
}

/*
**********
NAVIGATION
**********
*/

.navigation {
  border: 1px solid #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-logo {
  width: 100px;
}

.navigation-menu-list {
  display: flex;
  list-style: none;
}

.navigation-menu-list li {
  margin-left: 20px;
}

/*
****
HOME
****
*/

.home {
  /* height: 100vh; */
}

.hero {
  width: 100%;
  display: flex;
}

.hero-left {
  width: 60%;
}

.hero-right {
  width: 40%;
}

.hero-title {
  font-size: 2.6rem;
}

.hero-subtitle {
  font-size: 1.4rem;
}

/*
****
CARD
****
*/

.card {
  width: 300px;
  border: 1px solid black;
  margin-top: 10px;
  padding: 12px 16px 10px;
  border-radius: 2px;
}

/*
********
QUESTION
********
*/

.question {
}

/*
*****
MODAL
*****
*/

.modal {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 300px;
  max-width: 100%;
  height: 200px;
  max-height: 100%;
  padding: 10px 16px 8px;
  border: 1px solid red;

  display: flex;
  justify-content: center;
}
